

.h2style{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Let skygge på tekst */
    font-size: large;
}

.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 800px;
    max-height: 300px;
    overflow-y: auto;
    padding: 1rem;
}

.btn-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-liste:hover {
    box-shadow: 5px 5px 0px black;
}


.btn-opret{
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: white;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-opret:hover {
    box-shadow: 5px 5px 0px black; /* Skygge vises kun ved hover */
}
.btn-profil {
    position: fixed; /* eller fixed hvis den skal følge med når man scroller */
    top: 20px;
    right: 20px;

    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: white;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-profil:hover {
    box-shadow: 5px 5px 0px black;
}



.btn-back:hover {
    box-shadow: 5px 5px 0px black;
}