.error {
    color: pink;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Let skygge på tekst */
}
.h2style{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Let skygge på tekst */
    font-size: large;
}



.button-container {
    justify-content: center; /* Centrerer knapperne horisontalt */
    gap: 3rem; /* Giver mellemrum mellem knapperne */
    margin-top: 20px; /* Giver lidt afstand til elementet ovenfor */
}
.btn-forside{
    margin: 0 1rem; /* giver vandret afstand */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: white;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-forside:hover {
     box-shadow: 5px 5px 0 black; /* Skygge vises kun ved hover */
 }