

.btn-back:hover {
    box-shadow: 5px 5px 0px black;
}

.btn-custom:hover {
    box-shadow: 5px 5px 0px black; /* Skygge vises kun ved hover */
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid black; /* Sort kant for ensartet stil */
    background: white;
    color: #333;
    border-radius: 0; /* Fjerner afrundede hjørner */
}