body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #708090;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Forhindrer at hele siden bliver for stor */
}

/* Wish List styling */
.TextBox {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    background: white;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid black;
    position: relative;
    box-shadow: 8px 8px 0 black;
}