<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/brugerProfil.css}" rel="stylesheet">

</head>
<body>
<a th:href="@{/bruger/minprofil}">
<button type="submit"> Min profil </button>
</a>

<h1 th:text="${'Velkommen ' + brugernavn}" ></h1>

<br>


<h2 style="text-align: left;">Ønkelister:</h2>
<ul>
    <li th:each="wishList : ${wishLists}">
        <form action="/onskeListe/{name}/getSpecificWishList">
            <input type="hidden" name="name" th:value="${wishList.name}">
            <button type="submit" th:text="${wishList.name}">
            </button>
        </form>
    </li>
</ul>

<form action="/onskeListe/opretteOnskeListe" method="get">
    <button type="submit">
        create a wishList
    </button>
</form>
</body>
</html>
