<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/brugersønskeliste.css}" rel="stylesheet">
</head>
<body>
<h1 class="wishlist" th:text="${wishList.name}">  </h1>


<table>
    <thead>
    <tr th:if="${!#lists.isEmpty(wishList.onsker)}" class="h2style">
        <th>Ønske</th>
        <th>Beskrivelse</th>
        <th>Link</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="wish : ${wishList.onsker}">
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td>
            <a th:href="${wish.link}" th:text="${wish.link}" target="_blank"></a>
        </td>
        <td>
            <form action="/onskeListe/{listName}/{name}/redigerOnske" method="get">
                <input type="hidden" name="listName" th:value="${wishList.name}">
                <input type="hidden" name="name" th:value="${wish.name}">

                <button class="btn-action">Redigér</button>

            </form>


        </td>

        <td>
            <form action="/onskeListe/{listName}/{name}/sletOnske" method="post">
                <input type="hidden" name="listName" th:value="${wishList.name}">
                <input type="hidden" name="name" th:value="${wish.name}">

                <button class="btn-action btn-delete-small" type="submit">Slet ønske</button>


            </form>
        </td>

    </tr>
    </tbody>
</table>

<p class="h2style" th:if="${#lists.isEmpty(wishList.onsker)}">Du har endnu ikke tilføjet ønsker til din ønskeliste</p>

<br>

<form action="/onskeListe/{name}/tilfojOnske" method="get">
    <input type="hidden" name="name" th:value="${wishList.name}">
    <button class="btn-tilføj" type="submit">Tilføj ønske</button>
</form>
<br>

<form th:action="@{/onskeListe/{name}/redigerOnskeListe}">
    <input type="hidden" name="name" th:value="${wishList.name}">
    <button class="btn-rediger" type="submit">Rediger ønskeliste</button>

</form>

<form th:action="@{/onskeListe/{name}/sletOnskeListe}" method="post">
    <input type="hidden" name="name" th:value="${wishList.name}" >
    <button class="btn-delete" type="submit" >Slet ønskeliste</button>
</form>
<div>
<a class="btn-back" th:href="@{/bruger/profil}">Tilbage</a>
</div>




</body>
</html>