<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h1 class="h2style" th:text="${wishList.name}">  </h1>

<form class="btn-custom" th:action="@{/onskeListe/{name}/redigerOnskeListe}">
    <input type="hidden" name="name" th:value="${wishList.name}">
    <button type="submit">Edit</button>
</form>
<form class="btn-custom" th:action="@{/onskeListe/{name}/sletOnskeListe}" method="post">
    <input type="hidden" name="name" th:value="${wishList.name}" >
    <button type="submit">Delete</button>
</form>
<div>
    <a class="btn-back" href="/bruger/profil" >Tilbage</a>
</div>

<a th:href="@{/bruger/profil}">Go back</a>


</body>
</html>