<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/buttons.css}" rel="stylesheet">
    <link th:href="@{/bruger-profil.css}" rel="stylesheet">

</head>
<body>
<a th:href="@{/bruger/minprofil}">
<button class="btn-profil" type="submit"> Min profil </button>
</a>

<h1 class="TextBox" th:text="${'Velkommen ' + brugernavn}" ></h1>

<br>
<h2 class="h2style" style="text-align: left;">Se eller tilføj ny ønskeliste</h2>

<div class="wishlist-container">
    <form th:each="wishList : ${wishLists}" action="/onskeListe/{name}/getSpecificWishList">
        <input type="hidden" name="name" th:value="${wishList.name}">
        <button class="btn-liste" type="submit" th:text="${wishList.name}"></button>
    </form>
</div>
<br><br><br><br>
<form action="/onskeListe/opretteOnskeListe" method="get">
    <button class="btn-opret" type="submit">
        Opret ønskeliste
    </button>


</form>
<div>
    <a class="btn-back" href="/" >Log ud</a>
</div>

</body>
</html>
