<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Wish List </title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/logind-brugerform.css}" rel="stylesheet">
</head>
<body>


<form
        action="/bruger/logind"
        method="post">
    <p th:if="${forkertInput}" class="error">Forkert brugernavn eller adgangskode</p>
    <p><label class="h2style">Brugernavn</label>
        <input name="userName" type="text" autofocus></p>

    <p><label class="h2style">Adgangskode</label>
        <input name="password" type="password" autofocus></p>

    <p>
        <button class="btn-custom" type="submit">Log ind</button>
    </p>

    <div>
        <a class="btn-back" href="/" >Tilbage</a>
    </div>

</form>


</body>
</html>