<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Wish List </title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/renamed.css}" rel="stylesheet">
</head>
<body>
<div>

    <div>

        <form
                role="form"
                method="post"
                th:action="@{/bruger/gem}"
                th:object="${bruger}"
        >
            <p th:if="${duplicate}" class="error">Brugernavn eksisterer allerede</p>

            <br/>

            <label class="h2style" for="userName">Brugernavn</label>
            <input
                    id="userName"
                    type="text"
                    th:field="*{userName}"
                    th:value="${bruger.userName}"
                    required
            />
            <br/>
            <label class="h2style" for="password">Adgangskode</label>
            <input
                    id="password"
                    type="text"
                    th:field="*{password}"
                    th:value="${bruger.password}"
                    required
            />

            <br/>
            <br/>
            <button class="btn-custom" type="submit">Opret bruger</button>
            <br/>
        </form>

    </div>
    <div>
        <a class="btn-back" href="/" >Tilbage</a>
    </div>

</div>


</body>
</html>