<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/ønskeliste.css}" rel="stylesheet">
</head>
<body>

<div>
    <form action="/onskeListe/{username}/gemOnskeListe" method="post">
        <label class="h2style" for="name">Navngiv din ønskeliste
<input type="text" maxlength="15" id="name" name="name" required placeholder="Maks 15 tegn">
        </label>
        <input type="hidden" name="username" th:value="${brugernavn}">
        <button  class="btn-tilføj" type="submit">
           Tilføj ønskeliste
        </button>
    </form>
</div>
<p th:if="${gentagetNavn}" class="error">Ønskeliste med dette navn findes allerede</p>

<a class="btn-back" th:href="@{/bruger/profil}">Tilbage</a>
</body>
</html>