<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdatér profil</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/indstillinger.css}" rel="stylesheet">
</head>
<body>

<form
        role="form"
        method="post"
        th:action="@{/bruger/opdaterprofil}"
        th:object="${bruger}">


    <p><label class="h2style" for="userName">Brugernavn</label>
    <input
            id="userName"
            type="text"
            th:field="*{userName}"
            th:value="${bruger.userName}"
            required
    /></p>

    <p> <label class="h2style" for="password">Adgangskode</label>
    <input
            id="password"
            type="text"
            th:field="*{password}"
            th:value="${bruger.password}"
            required
    /></p>

    <br><br><br><br><br><br><br>
    <div class="btn-container">
        <form th:action="@{/bruger/opdaterprofil}" method="post">
            <button class="btn-opdater" type="submit">Opdatér profil</button>
        </form>
        <br>
        <form th:action="@{/bruger/sletprofil}" method="post"
              onsubmit="return confirm('Er du sikker på, at du vil slette din bruger?');">
            <button class="btn-delete" type="submit">Slet profil</button>
        </form>
    </div>
</form>



<a class="btn-back" href="/bruger/minprofil">Tilbage</a>

</body>
</html>
