<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/brugersønskeliste.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="'Redigér: ' + ${wishList.name}"></h1>

<form th:action="@{/onskeListe/{oldname}/gemRedigering(oldName=${wishList.name})}" method="post">
    <label for="newName">Ny titel:
        <input type="text" maxlength="15" name="newName" id="newName" required placeholder="Maks 15 tegn"></label>

    <button  type="submit">Gem ændring</button>
</form>

<form th:action="@{/onskeListe/{name}/getSpecificWishList}">
    <input type="hidden" name="name" th:value="${wishList.name}">
    <button class="btn-back" type="submit">Tilbage</button>
</form>
</body>
</html>