<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<h1>Here is a list of all wish Lists</h1>
<tr th:each="wishList : ${wishLists}">
    <td>
        <strong th:text="${wishList.name}"></strong>
    </td>
    <td>
        <form th:action="@{/onskeListe/redigerOnskeListe}">
            <button type="submit">Edit</button>
        </form>
        <form th:action="@{/onskeListe/{name}/sletOnskeListe}" method="post">
            <input type="hidden" name="name" th:value="${wishList.name}" >
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>
<br>
<h2>Edit Buttons dont work</h2>
<br>

<a th:href="@{/onskeListe/getToTest}" class="button">Back to Attractions List</a>
</body>
</html>