<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This is where the test is</p>

<div>
    <form action="/onskeListe/opretteOnskeListe" method="get">
        <button type="submit">
            create a wishList
        </button>
    </form>
</div>

<div>
    <form action="/redigerOnskeListe" method="get">
        <button type="submit">
            edit an existing wishList
        </button>
    </form>
</div>

<div><form action="/sletOnskeListe" method="get">
    <button type="submit">
        delete a wishList
    </button>
</form></div>
</body>
</html>