<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/brugersønskeliste.css}" rel="stylesheet">
</head>
<body>

<h1 th:text="'Add a wish to: ' + ${wishList.name}"> </h1>

<form action="/onskeListe/{listName}/gemOnske" method="post">
  <input type="hidden" name="listName" th:value="${wishList.name}">
  <label for="name"> Name
    <input type="text" name="name" id="name">
  </label>

  <label for="description"> Description
    <input type="text" name="description" id="description">
  </label>

  <label for="link"> Link
    <input type="text" name="link" id="link">
  </label>

  <button type="submit">Tilføj ønske</button>
</form>

<form th:action="@{|/onskeListe/${name}/getSpecificWishList|}" method="get">
  <input type="hidden" name="name" th:value="${wishList.name}">
  <button class="btn-back" type="submit">Tilbage</button>
</form>

</body>
</html>